.auth-page {
  min-height: 100vh;
  display: flex;
  background: #fff;
}

/* LEFT SIDE */
.auth-illustration {
  flex: 1;
  padding: 60px 80px;
  background: white;               /* Udemy jaisa halka grey */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-title {
  font-size: 32px;
    color: #18181b;
  font-weight: 700;
  margin-bottom: 12px;
}

.auth-subtitle {
  max-width: 360px;
  color: #4b5563;
   
 font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
    margin-left: 35px;
}


/* RIGHT SIDE */
.auth-form-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 60px;
  background: white;
}

.auth-card {
  width: 100%;
  max-width: 420px;
}

.auth-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.field {
  margin-bottom: 16px;
}

/* CONTINUE button exact Udemy purple feel */
.purple-btn {
  background-color: #9675ea;  /* Udemy primary */
  color: #fff;
  font-weight: 600;
}

.purple-btn:hover {
  background-color: #694faf;
}

/* link color */
.purple-link {
  color: #5624d0;
  font-weight: 600;
  text-decoration: none;
}

.purple-link:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .auth-page {
    flex-direction: column;
  }

  .auth-illustration {
    padding: 24px 20px;
    text-align: center;
  }

  .auth-form-wrapper {
    padding: 24px 20px;
  }
}
